# .NET build output
bin/
obj/
out/

# Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# Rider
.idea/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Misc
*.log
.DS_Store
Thumbs.db
